*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;

}
html{
  scroll-behavior: smooth;
}

body{
  background: #080808;
  color: white;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url("images/background.png");
 background-position: center;
 background-size: cover;
  
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 140px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: "";
  width: 0;
  height:3px;
  left:0;
  bottom:-6px;
  background-color: #ff004f;
  position: absolute;
  transition: all 300ms ease;
}


nav ul li a:hover::after{
  width: 100%;
}


.header-text{
  margin-top: 30vh;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
  text-transform: uppercase;
}


.header-text h1 span{
  color: #DA1313;
}


/*-----------------About----------------*/

#about{
  padding: 80px 0;
  color:#ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width:100%;
  height: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}


.tab-title{
  display: flex;
  margin: 20px 0 40px;
}


.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  left: 0;
  bottom: -8px;
  position: absolute;
  transition: all 300ms ease;
}

.tab-links.active-links::after{
  width: 75%;
}

.tab-content ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-content ul li span{
  color:#7B0707;
  font-size: 14px;
}

.tab-content{
  display: none;
}

.tab-content.active-tabs{
  display: block;
}


/* ------------Services session----------------*/

#services{
  padding: 30px 0;
}
.container-services{
  padding: 10px 5%;
}
.services-list{
  display: grid;
  grid-template-columns:auto auto auto;
  grid-gap: 20px;
  margin-top: 50px;
}

.services-list div{
  padding: 40px;
  background: #262626;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: all 400ms ease;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.container-services div a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: inline-block;
  margin-top:20px;
  cursor: pointer;
}

.services-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);
}



/*------------- Portifolio -----------*/

#portfolio{
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns:auto auto auto;
  grid-gap: 20px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 5s;
}


.work img{
  width: 100%;
  display: block;
  border-radius: 10px;
}


.layout{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 18px;
  padding: 0 40px;
  transition: height 0.5s;
}

.layout h3{
  font-weight: 600;
  margin-bottom: 20px;
}

.layout p{
  font-size: 12px;
}

.layout a{
  margin-top: 10px;
  line-height: 60px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
}


.layout i{
  color: #ff004f;
  font-size: 20px;
  text-align: center;
}


.work:hover img{
  transform:  scale(1.1);
}

.work:hover .layout{
  height: 100%;
}


.btn{
  display: block;
  margin: 50px auto;
 font-size: 10rem;
 width: fit-content;
 border: 1px solid #ff004f;
 padding: 14px 50px;
 border-radius: 6px;
 transition: background 0.4s;
}

.btn:hover{
  background: #ff004f;
  color: #fff;
}



/*----- Contact me------*/

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}


.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 10px;
  
}

.social-icons{
  margin-top: 30px;
}
.social-icons a{
  font-size: 35px;
  text-decoration: none;
  color: #ababab;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.7s;
  margin-bottom: 40px;
}


.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.cv{
  font-size: 30px;
  text-align: center;
  border: 2px solid #ff004f;
  width: 80%;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  background: #ff004f;
}

.cv:hover{
  background-color: #000000;
}

.contact-right form{
  width: 100%;
}


form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}




footer{
  height: 5vh;
  width: 100%;
}

footer p{
  text-align: center;
  padding-top: 30px;
}

nav .fa{ 
  display: none;
}

/*---------------css media query-----------*/

@media only screen and (max-width: 400px){

  #header{
  background-image: url("images/phone-background.png");
}

.header-text{
  margin-top: 40vh;
  font-size: 15px;
}

.header-text h1{
  font-size: 30px;
  margin-top: 10px;
  text-transform: uppercase;
}

nav .fa{
  display: block;
}

nav ul{
  position: fixed;
  background: #ff004f;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  transition: right 400ms;
  z-index: 100;
}

nav ul li{
  display: block;
  margin: 25px;
}

.services-list{
  display: block;
}

.services-list div{
  margin: 20px 0;
}

.container-services{
  padding: 10px 10%;
}
  
 nav ul .fa{
   position: absolute;
   top: 30px;
   right: 150px;
   cursor: pointer;
 }
  nav .fa{
    font-size: 30px;
  }
  
  .sub-title{
    font-size: 40px;
    text-align: center;
  }
  
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  
  .about-col-1{
    margin-bottom: 30px;
  }
  
  .about-col-2{
    font-size: 14px;
  }
  
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
  
  
  .work-list{
    display: block;
  }
  
  .work {
    margin: 20px 0;
  }
  .sub-title h2{
    font-size: 40px;
  }
  
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .contact-left{
    margin-bottom: 40px;
  }
  .cv{
    padding: 5px;
    font-size: 20px;
  }
}
