*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}
  /*body{
    background-color: darkgoldenrod;
}*/
.move-up{
    width: 100%;
    height: 30px;
    color: red;
    font-size: 20px;
    border: 3px solid green;
    border-radius: 0 0 10px 10px;
    margin: 0;
    
}

.header{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(image/download.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}    
nav{
    top: 0;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 3;
}

nav h1 a{
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    color:white;
} 
nav h1 a::after{
      content: "";
      width:0;
      height: 5px;
      background: red;
      display: block;
      margin:auto;
      transition: 0.7s;
}

nav h1 a:hover::after{
    content: "";
    width: 100%;
    height: 5px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul{
     
}
.nav-links ul li {
    list-style: none;
    padding: 8px 12px;
    position: relative;
     display:inline-block;
}
.nav-links ul li a{
       color: white;
       text-decoration: none;
       font-family: monospace;
       font-size: 20px;
}
.sign{
    display: none;
    margin: 10px;
    background:transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    padding: 5px;  
    position: relative;
}
.sign:hover{
    background-color: red;
    transition: 0.8s;

}
.UP{
    margin: 10px;
    background:transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    padding: 5px;  
    position: relative;
}
.UP:hover{
    background-color: red;
    transition: 0.8s;

}

.nav-links ul li a::after{
    width: 0;
    display: block;
    background: red;
    height: 5px;
    content: "";
    margin: auto;
    transition: 0.7s;
}

.nav-links ul li a:hover::after{
    width: 100%;
    display: block;
    background: red;
    height: 5px;
     
}

/* the main home text */

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*to center the object*/
    text-align: center;
}
.text-box h1{
    text-transform: uppercase;
    font-size: 52px;
    color: white;
}

p{
    text-align: center;
    color: aliceblue;
    font-size: 24px;
    margin:10px 0 40px;
}

.hero{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color:transparent;
    padding: 10px;
    font-family: sans-serif;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    border: 1px solid white;

}
.hero:hover{
    background-color: red;
    transition: 0.7s;
    border-radius: 10px;
    border: red;
}
nav .fa{
    display: none;
}
@media screen and (max-width:900px){
     
    .text-box h1{
    
        font-size: 20px;
    }
    
    p{
    
        font-size: 14px;
        
    }
    
    
    
    .nav-links{
        position: absolute;
        width: 200px;
        top: 0;
        right: -200px;
        background: red;
        z-index: 3;
        height: 100vh;
        text-align: left;
        transition: 1s;
        overflow:hidden;

    }
    .nav-links ul li {
        list-style: none;
        padding: 8px 12px;
        position: relative;
         display:block;
    }
    .UP{
        display:none;
    }
    .sign{ 
        border: blue;
        border-radius: 1px solid blue;
        margin-top: -25px;
        position:relative;
        display: block;
        width:100px;
        text-align: center;
        transform: translate(20%);
        transition: 0.7s;
    }
    .sign:hover{
        background-color: blue;
        transition: 0.8s;
    
    }
    .nav-links ul li a::after{
        width: 0;
        display: block;
        background: red;
        height: 5px;
        content: "";
        margin: auto;
        transition: 0.7s;
    }
    
    .nav-links ul li a:hover::after{
        width: 100%;
        display: block;
        background: rgb(16, 33, 128);
        height: 5px;
         
    }    
    nav .fa{
        display:block;
        color: white;
        font-size: 22px;
        cursor: pointer;
        margin: 10px;
    }
    .nav-links ul{
    padding: 30px;
         
    }    
}

/* COURSE SECTION */

.course  p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.course{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}
 .course h1{
     font-size: 36px;
     font-weight: 600;
 }
 .row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;

 }
 .course-col{
     flex-basis: 31%;
     background: #fff3f3;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
 }
 h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
     font-family: helvetica;
 }
 .course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
 }

 @media screen and (max-width:900px){
    .row{
      flex-direction: column;
    }     
      
}

/* CAMPUS SECTION*/
.campus  p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  .campus{ 
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 50px;
      
  }

  .campus-col{
      flex-basis: 32%;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 30px;
      position: relative;
  }
  img{
      width: 100%;
      height: 300px;
  }
  .layer{
      background: transparent;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color:white;
      transition: 0.8s;
  }
  .layer:hover{
    background: rgba(226, 0, 0, 0.7);
  }
  .layer h3{
      width: 100%;
      font-weight: 500;
      font-size: 26px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      visibility: hidden;
      transition: 0.8s;
  }
  .layer:hover h3{
      visibility: visible;
      bottom: 43%;
  }

  /* FACILITIES*/

  .facilities{
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;
  }
  .facilities-col{
      flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
  }
  .facilities img{
      width: 100%;
      border-radius: 10px;
  }

  .facilities-col h3{
      margin-top: 16px;
      margin-bottom: 15px;
      text-align: left;
  }

  /*TESTIMONIAL*/

  .testimonials{
      width: 80%;
      margin: auto;
      padding-top: 100px;
      text-align: center;
  }

  .testimonial-col{
      flex-basis: 44%;
      margin-bottom: 5%;
      text-align: left;
      border-radius: 10px;
      cursor: pointer;
      background: #fff3f3;
      display: flex;
      padding: 25px;
  }

  .testimonial-col img{
      height: 60px;
      margin-left: 5px;
      margin-right: 30px;
      border-radius: 50%;
  }
  .testimonial-col p{
  padding: 0;
}
  
.testimonial-col h3{
    margin-top: 15px;
    text-align: left; 
}
.testimonial-col .fa{
    color: goldenrod;
}
@media screen and(max-width:800px) {
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* call to action*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0,0.5)),
    url(image/strepp.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media screen and (max-width:800px) {
    .cta h1{
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 40px;
        padding: 0;
    }
    
}


/*FOOTER*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    color: #777;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 700;
}
 .fa-heart{
    color: goldenrod;
    
}
.icon  .fa{
    color: rgb(60, 32, 218);
    padding: 0 15px;
    
}

.icon p{
    color: goldenrod;
    
}

/*---NEWs SECTION-----*/
 
.news-header{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(image/download.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}    

 .news{
    color: #fff;
    margin-top:  10px;
    padding: 10px;
    text-align: center;
    line-height: 50vh;
    font-size: 28px;
}
 
.newsheader{
    width: 80%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
}

.newsheader h1{
    color: #fff;
    font-size: 32px;

}
.later-news{
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: red;
    background-color: burlywood;
}

.footer-news p{
    color:rgb(119, 106, 106);
    margin: 10px;
    padding: 10px;
}
.footer-news{
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    .footer h4{
        color: #777;
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 700;
    }
     .fa-heart{
        color: goldenrod;
        
    }
    .icon  .fa{
        color: rgb(60, 32, 218);
        padding: 0 15px;
        
    }
    
    .icon p{
        color: goldenrod;
        
    }

@media screen and (max-width:700px){
    .news{
        color: #fff;
        margin-top:  10px;
        padding: 10px;
        text-align: center;
        line-height: 80vh;
        font-size: 28px;
    }
    .news-p{
        color: #fff;
        margin-top:-48%;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
}

